
{% extends 'headerfooter.html' %}

{% block content %}
{% load static %}


<style>
.btn-style-two:before,
.main-header .header-top,
.btn-style-one:before,
.btn-style-three,
.broucher-box,
.btn-style-four:before,
.service-block .inner-box:before,
.service-block .inner-box h3:before,
.product-block .inner-box:before,
.accordion-box .block .acc-btn.active,
.news-block .inner-box .image .post-date,
.service-block-two .inner-box:before,
.faq-form .form-group .skill-bar .bar-inner,
.service-block-three .inner-box:before,
.pricing-tabs .tab-buttons .boll .round,
.project-page-section .filters li:before,
.call-to-action-section.style-three .inner-container,
.news-block-two .inner-box .image .overlay-box .icon,
.blog-detail .inner-box .lower-content blockquote,
.contact-box .inner-box:before,
.gallery-block .inner-box .image .overlay-box .search-icon:hover{
	background-color:rgba(0,0,0,0.7);
}
#about1{
background-size: cover; 
margin-left: 18px;
    margin-right: -58px;
    border-color: red;
    border: solid;
    margin-bottom: 50px;
}


@media only screen and (max-width: 767px){
#about1 {
	background-size: cover; 
margin-left: 0px;
    margin-right: -58px;
    border-color: red;
    border: solid;
    margin-bottom: 50px;
}

}
</style>
    <div class="amg-floating-contacts wwww">


      <div class="amg-floating-contact-wrap amg-green">
        <div class="amg-floating-icon">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <div class="amg-floating-link amg-floating-phone">
          <a class="amg-nav-item" href="tel://1-555-555-5555">(555) 555-5555</a>
        </div>
      </div>
     <div class="amg-floating-contact-wrap amg-green">
        <div class="amg-floating-icon">
         <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </div>
        <div class="amg-floating-link amg-floating-phone">
          <a class="amg-nav-item" href="tel://1-555-555-5555">(555) 555-5555</a>
        </div>
      </div>
	  
	    <div class="amg-floating-contact-wrap amg-green">
        <div class="amg-floating-icon">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="amg-floating-link amg-floating-phone">
          <a class="amg-nav-item" href="mailto:mail@mail.com">mail@mail.com</a>
        </div>
      </div>
	  
	  
	  
	   
	  
	  
    </div>
    <!-- End Main Header -->

    <!-- Page Title -->
    <section class="page-title-two">
		<div class="layer-one" style="background-image: url({% static 'five/images/icons/covid-1.png' %})"></div>
		<div class="layer-two" style="background-image: url({% static 'five/images/icons/covid-2.png' %})"></div>
		<div class="layer-three" style="background-image: url({% static 'five/images/background/pattern-18.png' %})"></div>
    	<div class="auto-container">
			<ul class="page-breadcrumb">
				<li><a href="/fourhome/">home</a></li>
				<li>About us</li>
			</ul>
			<h1>About Bleach</h1>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- Service Section Two -->
	<section class="service-section-two style-two">
		<div class="layer-one" style="background-image: url({% static 'five/images/background/pattern-4.png' %})"></div>
		<div class="layer-three" style="background-image: url({% static 'five/images/background/pattern-6.png' %})"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="layer-two" style="background-image: url({% static 'five/images/background/pattern-5.png' %})"></div>
				<div class="row clearfix">
					
					<!-- Service Block Two -->
					<div class="service-block-two col-lg-3 col-md-6 col-sm-12" id="about1" style="background-image: url({% static 'four/images/10.jpg' %});">
						<div class="inner-box card-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<div class="icon">
									<div class="svg-icon" id="svg-1" data-svg-icon="{% static 'five/images/svgs/sanifica-08.svg' %}"></div>
								</div>
							</div>
							<h3><a href="services-single.html">Disinfecting Can Help here</a></h3>
							<div class="text">Omnis iste natus error accusan ytium dolre</div>
						</div>
					</div>

					
					<!-- Service Block Two -->
					<div class="service-block-two col-lg-3 col-md-6 col-sm-12" id="about1" style="background-image: url({% static 'four/images/11.jpg' %});
">
						<div class="inner-box card-box wow fadeInUp" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<div class="icon">
									<div class="svg-icon" id="svg-2" data-svg-icon="{% static 'five/images/svgs/sanifica-03.svg' %}"></div>
								</div>
							</div>
							<h3><a href="services-single.html">oye! We’re EPA Approved</a></h3>
							<div class="text">Omnis iste natus error accusan ytium dolre</div>
						</div>
					</div>
					
					<!-- Service Block Two -->
					<div class="service-block-two col-lg-3 col-md-6 col-sm-12"  id="about1" style="background-image: url({% static 'four/images/12.jpg' %})
">
						<div class="inner-box card-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<div class="icon">
									<div class="svg-icon" id="svg-3" data-svg-icon="{% static 'five/images/svgs/sanifica-01.svg' %}"></div>
								</div>
							</div>
							<h3><a href="services-single.html">Stat of the Art Cleaning</a></h3>
							<div class="text">Omnis iste natus error accusan ytium dolre</div>
						</div>
					</div>
					
					<!-- Service Block Two -->
					<div class="service-block-two col-lg-3 col-md-6 col-sm-12"  id="about1" style="background-image: url({% static 'four/images/17.jpg' %});
">
						<div class="inner-box card-box wow fadeInUp" data-wow-delay="450ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<div class="icon">
									<div class="svg-icon" id="svg-4" data-svg-icon="{% static 'five/images/svgs/sanifica-04.svg' %}"></div>
								</div>
							</div>
							<h3><a href="services-single.html">100% Organic Solutions</a></h3>
							<div class="text">Omnis iste natus error accusan ytium dolre</div>
						</div>
					</div>




					
				</div>
			</div>
		</div>
	</section>






	
	<!-- End Service Section Two -->
	
	<!-- Environmental Section -->
    <section class="environmental-section">
    	<div class="auto-container">
			<div class="row clearfix">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="2">
							<img src="{% static 'five/images/resource/environment.png' %}" alt="" />
							<div class="dotted-layer" style="background-image: url({% static 'five/images/background/pattern-8.png' %})"></div>
						</div>
					</div>
				</div>
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Sanitizing & Sterilization Treatments</div>
						<h2><span>Environmental friendly</span> <br> solutions for disinfection</h2>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamcoys.</div>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>Commercial Disinfecting Spray</li>
									<li>Upto 3 Months Warrenty</li>
									<li>Hardwood Floor Disinfection</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>All Types Of Viruses Removal</li>
									<li>HVAC Spraying For Tiles</li>
									<li>Cleaners Work Fast Effective</li>
								</ul>
							</div>
						</div>
						<a href="about.html" class="theme-btn btn-style-four"><span class="txt">what we offer</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- End Environmental Section -->
	
	<!-- Video Section Two -->
	<div class="video-section-two style-two">
		<div class="layer-two" style="background-image: url({% static 'five/images/icons/covid-2.png' %})"></div>
		<div class="auto-container">
			<!--Video Box-->
			<div class="video-boxed">
				<figure class="video-image">
					<img src="{% static 'five/images/resource/video-img.jpg' %}" alt="">
				</figure>
				<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
			</div>
		</div>
	</div>
	<!-- End Video Section Two -->
	
	<!-- Sanitizer Section -->
	<section class="sanitizer-section style-two">
		<div class="layer-one" style="background-image: url({% static 'five/images/background/pattern-19.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Sanitizing & Sterilization Treatments</div>
						<h2>We Make Your Area Clinically Safe & Clean</h2>
						<div class="bold-text">Anti-Viral EPA Approved Surface Disinfectant Spraying Treatments For number of Viruses & Bacterias Including...</div>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>Covid-19 (Coronavirus)</li>
									<li>Staphylococcus</li>
									<li>Influenza (Flu)</li>
									<li>Noro Virus</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>EV-D68 & Paralysis</li>
									<li>Mold & MRSA</li>
									<li>All Types Bacteria</li>
									<li>Odour Control</li>
								</ul>
							</div>
						</div>
						<div class="text">Our treatments offer the highest standard of coverage for better germ protection which means...</div>
						<ul class="list-style-one">
							<li>No-irritation to skin, eyes or lungs</li>
							<li>Its Fragrance-free</li>
							<li>Non-corrosive, safe for electronics</li>
							<li>Leaves no visible residue</li>
							<li>Germ and bacteria free</li>
							<li>Allergen-free</li>
							<li>Mold and mildew free​</li>
						</ul>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'five/images/resource/sanitizer-1.png' %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Sanitizer Section -->
	
	<!-- Call To Action Section -->
	
	{% endblock %}