

{% load static %}
{% block contend %}

{% endblock %}










    	<section class="call-to-action-section style-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="image">
					<img src="{% static 'four/images/resource/call-to-action.jpg' %}" alt="">
				</div>
				<div class="content">
					<div class="phone-icon flaticon-phone-call"></div>
					<h3>Need Our Help or Have Questions?<br> Call Us <a href="tel:1882707">1882707</a></h3>
					<div class="text">We utilize technologically advanced machinaries to deliver absolute cleaning space</div>
				</div>
			</div>
		</div>

	</section>
	<!-- End Call To Action Section -->
	
	<!-- Main Footer -->
    <footer class="main-footer style-two">
		<div class="auto-container">
        	<!-- Widgets Section -->
            <div class="widgets-section">
				<div class="row clearfix">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-8 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="#"><img src="{% static 'four/images/logo.png' %}" alt=""></a>
                                    </div>
									<div class="text">Bleach was established in 2013 for the express purpose of providing professional cleaning services with first class customer care. We at Bleach always strive to meet our customers need for exceptional housecleaning and housekeeping services in their homes, apartments and offices. These services are executed by our own highly trained and qualified Bleach cleaning teams that only use premium quality prod-ucts and equipment..</div>
									<!-- Social Nav -->
									<ul class="social-nav">
										<!-- <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li> -->
										<li class="facebook"><a href="https://www.facebook.com/BleachKw/"><span class="fa fa-facebook-f"></span></a></li>
                                        <!-- <li class="google"><a href="#"><span class="fa fa-google-plus"></span></a></li> -->
										<!-- <li class="pinterest"><a href="#"><span class="fa fa-pinterest-p"></span></a></li> -->

                                        <li class="twitter"><a href="https://www.instagram.com/bleachkw/?hl=en"><span class="fa fa-instagram"></span></a></li>

                                        <li class="google"><a href="https://www.youtube.com/channel/UC_XhgxfirQrft_kAFRZPAOw"><span class="fa fa-youtube"></span></a></li>

                                        <li class="twitter"><a href="https://www.linkedin.com/company/bleachkw"><span class="fa fa-linkedin"></span></a></li>
                                        


                                        
                                        
                                        
									</ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-6 col-sm-6">
                                <div class="footer-widget links-widget">
									<h4>Quick Links</h4>
									<ul class="footer-list">
										<li><a href="/fourhome/">Home</a></li>
										<li><a href="/aboutusurl/">About Us</a></li>
										<li><a href="servicesnewurl/">Services</a></li>
										<li><a href="#">Shop </a></li>
										<li><a href="/blognewurl/">Blog</a></li>
										<li><a href="#">Career</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					 
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget contact-widget">
									<h4>Contact Us</h4>
									<ul>
										<li>
											<span class="icon flaticon-send"></span>
											<strong> Lorem Ipsum is simply dummy text of the printing</strong>
											
										</li>
										<li>
											<span class="icon flaticon-phone-call"></span>
											<strong>Call Today</strong>
											<a href="tel:1882707">1882707</a>
										</li>
										<li>
											<span class="icon flaticon-email-1"></span>
											<strong>Send Email</strong>
											<a href="mailto:customercare@bleach-kw.com">customercare@bleach-kw.com</a>
										</li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget newsletter-widget">
									<h4>Subscribe</h4>
									<div class="text">Get our newsletter for latest updates about Cleaning.</div>
									<div class="newsletter-form">
										<form method="post" action="#">
											<div class="form-group">
												<input type="email" name="email" value="" placeholder="Your Email" required="">
												<button type="submit" class="theme-btn submit-btn">Subscribe</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="clearfix">
					
					<div class="pull-left">
						<div class="copyright">Copyrights &copy; 2020 All Rights Reserved. Designed by AS Designs.</div>
					</div>
					<div class="pull-right">
						<ul class="footer-nav">
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Sitemap</a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>

	</footer>
</section>

	<!-- End Main Footer -->
	
	<!-- Scroll To Top -->
