{% extends 'header.html' %}

{% block content %}


{% load static %}
<html lang="en">
<head>

  <style>
    #book{
          padding: 10px 16px;
    }
    /*#logo{
      margin-top: 40px;
    }*/
    #foot{
      margin-top: 60px;
    }
    
.product-image {
  display: none;
}
#show_more{
    margin-top: -20px;
  }
@media (min-width: 62rem) {
  .product-image img, .image-list img {
    width: 100%;
  }

  .product-image {
    display: block;
  }
  .product-image img {
    height: 52vh;
  }
  .product-image img.active {
    display: block;
    margin: 0 0 0.75rem 0;
  }

.image-list li {
  margin: 0;
}

  .image-list {
    display: flex;
    overflow: hidden;
  }
  .image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
  }
  .image-list li:nth-child(3) {
    margin: 0;
  }
  .image-list img {
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  .image-list img:hover {
    opacity: 0.7;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 47%;
  }
}


  </style>

     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
  <!-- Favicon -->
  <link href="{% static 'four/images/icons/logo-icon.png' %}" rel="shortcut icon" type="image/x-icon"/>

    <title>Bleach | KW </title>

    <!-- Bootstrap core CSS-->
    <!-- <link href="{% static 'asset/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'single/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'single/css/responsive.css' %}" rel="stylesheet">
  <link href="{% static 'single/css/mega.menu.css' %}" rel="stylesheet">
  <link href="{% static 'single/css/thumbnail.slider.css' %}" rel="stylesheet">
  <link href="{% static 'single/css/datepicker.css' %}" rel="stylesheet">
  <link href="{% static 'single/css/bootstrap-select.css' %}" rel="stylesheet">
  


  <!-- Owl Carousel for this template-->
  <link rel="stylesheet" href="{% static 'asset/assets/owlcarousel/assets/owl.carousel.min.css' %}"> 
  
    <!-- Fontawesome styles for this template-->
    <link href="{% static 'asset/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  
</head>


  <!--header end--> 
  <!--title-bar start-->
  
  <!--title-bar end-->  
  <!--meal-detail-start-->
  <section class="all-partners">      
  <div class="container-fluid ">
      <div class="row">         
        <div class="col-lg-8 col-md-8">
          <div id="sync1" class="owl-carousel owl-theme">
           <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="{{ob.image}}">
          </div>
          <ul class="image-list">
{% for i in ob1 %}

            <li class="image-item"><img src="{{i.images}}"></li>
            <!-- <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>
            <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li> -->
          {% endfor %}
            
          </ul>
        </div>
          <!-- style="height: 150px; width: 200px;"  -->
                      
          </div>

          
          <!-- <div class="resto-meal-dt">
            <div class="resto-detail">
              
              <div class="name-location">
                <a href="restaurant_detail.html"><h1>product</h1></a>
                
              </div>
            </div>
            <div class="right-side-btns">
              <div class="bagde-dt">
                                      
              </div>
             
            </div>
          </div> -->
          
          <div class="all-tabs">
            
                    
          </div>
        </div>











        <div class="col-lg-4 col-md-4">
          <div class="name-location" style="padding-bottom: 30px;">
                <a href="restaurant_detail.html"><h1>{{ob.product_name}}</h1></a>
                
              </div>
          <div class="right-side">
            
                    
            <div class="price" style="font-size: 40px;">
              <span>{{ob.product_price}}&nbspKWD</span>
            </div>
            <div class="dt-detail">
              <ul>
                
                <li>
                  <!-- <div class="time"><i class="far fa-clock"></i></div> -->
                </li>
              </ul>
            </div>
            <div class="Extra-option">
              <h4> Description - <ins></ins></h4>
              <div class="non-veg">
                <ul class="food-bootom">
                  <li>
                    <p class="food-left">
                      <!-- A product description is the marketing copy used to describe a product’s value proposition to potential customers. A compelling product description provides customers with details around features, problems it solves and other benefits to help generate a sale.

It’s no wonder they are worried — the quality of a product description can make or break a sale, especially if it doesn’t include the information a shopper needs to make a purchase decision. Providing key product details is critical if you want the shopper to click “Add to Cart” and differentiate your ecommerce website from the competition. -->
{{ob.discription}}

                    </p>
                    
                    
                    
                    
                    
                    
                    
                  </li>
                </ul>
              </div>
              
            </div>
            <div class="Qty">
              <h4> Qty</h4>
               <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="minus-btn btn-sm" id="minus-btn" style="color: #fff; background-color: #086faa;"><i class="fas fa-minus-square"></i></button>
                                </div>
                                <input type="number" id="qty_input" name="num" class="qty-control" value="1" min="1" style="color: black;">
                                <div class="input-group-prepend">
                                    <button class="add-btn btn-sm" id="plus-btn"  style="color: #fff;background-color: #086faa;"><i class="fas fa-plus-square"></i></button>
                                </div>
                                <!-- <input type="text" value="{{ob.id}}"name=""> -->
                            </div>
            </div>
            <div class="total-cost">
              <div class="total-text">
                <h5>price</h5>
              </div>
              <div class="total-price">
                <p style="color: black;">{{ob.product_price}}</p>
              </div>
            </div>
            <div class="order-now-check">
              <!-- <form action="/cartnew/?faid={{i.id}}" method="POST"> -->
              <a onclick="this.href='/cartnew/?faid={{ob.id}}&num=' + document.getElementById('qty_input').value">
                    <button type="button" class="btn btn-info" style="background-color: #086faa; color: #fff;">Add cart</button></a>
              <!-- <button class="on-btn btn-link" onclick="">ADD TO CART</button> -->
              <!-- </form> -->
            </div>
          </div>
            
        </div>
      </div>  
    </div>
  </section>      
  <!--meal-deail end-->
  <!--footer start-->
  
  <!--footer end--> 

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'asset/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'asset/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'asset/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
   <!-- Assect scripts for this page-->
  <script src="{% static 'asset/assets/owlcarousel/owl.carousel.js' %}"></script>
  <script src="{% static 'asset/js/custom.js' %}"></script>
  <script src="{% static 'asset/js/thumbnail.slider.js' %}"></script>
  <script src="{% static 'asset/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'asset/js/bootstrap-select.js' %}"></script>
  <script>
  $(document).ready(function(){
    $('#qty_input').prop('disabled', true);
    $('#plus-btn').click(function(){
      $('#qty_input').val(parseInt($('#qty_input').val()) + 1 );
          });
        $('#minus-btn').click(function(){
      $('#qty_input').val(parseInt($('#qty_input').val()) - 1 );
      if ($('#qty_input').val() == 0) {
      $('#qty_input').val(1);
    }

    });
  });
  </script>


<script>


const activeImage = document.querySelector(".product-image .active");
const productImages = document.querySelectorAll(".image-list img");
const navItem = document.querySelector('a.toggle-nav');

function changeImage(e) {
  activeImage.src = e.target.src;
}

function toggleNavigation(){
  this.nextElementSibling.classList.toggle('active');
}

productImages.forEach(image => image.addEventListener("click", changeImage));
navItem.addEventListener('click', toggleNavigation);
</script>

  </body>

{% endblock %}
