{% extends 'headerfooter.html' %}

{% block content %}
{% load static %}

<style type="text/css">
	
.btn-style-two:before,
.main-header .header-top,
.btn-style-one:before,
.btn-style-three,
.broucher-box,
.btn-style-four:before,
.service-block .inner-box:before,
.service-block .inner-box h3:before,
.product-block .inner-box:before,
.accordion-box .block .acc-btn.active,
.news-block .inner-box .image .post-date,
.service-block-two .inner-box:before,
.faq-form .form-group .skill-bar .bar-inner,
.service-block-three .inner-box:before,
.pricing-tabs .tab-buttons .boll .round,
.project-page-section .filters li:before,
.call-to-action-section.style-three .inner-container,
.news-block-two .inner-box .image .overlay-box .icon,
.blog-detail .inner-box .lower-content blockquote,
.contact-box .inner-box:before,
.service-section-three .blocks-column .service-block-three .inner-box .image .overlay-box .clearfix .search-icon:hover{
    background-color:rgba(0,0,0,0.7);
}


</style>
    <!-- End Main Header -->
  <div class="amg-floating-contacts wwww">


      <div class="amg-floating-contact-wrap amg-green">
        <div class="amg-floating-icon">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <div class="amg-floating-link amg-floating-phone">
          <a class="amg-nav-item" href="tel://1882707">1882707</a>
        </div>
      </div>
     <div class="amg-floating-contact-wrap amg-green">
        <div class="amg-floating-icon">
         <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </div>
        <div class="amg-floating-link amg-floating-phone">
          <a class="amg-nav-item" href="tel://1882707">1882707</a>
        </div>
      </div>
	  
	    <div class="amg-floating-contact-wrap amg-green">
        <div class="amg-floating-icon">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="amg-floating-link amg-floating-phone">
          <a class="amg-nav-item" href="mailto:customercare@bleach-kw.com">customercare@bleach-kw.com</a>
        </div>
      </div>
	  
	  
	  
	   
	  
	  
    </div>
    <!-- Page Title -->
    <section class="page-title-two">
		<div class="layer-one" style="background-image: url({% static 'five/images/icons/covid-1.png' %})"></div>
		<div class="layer-two" style="background-image: url({% static 'five/images/icons/covid-2.png' %})"></div>
		<div class="layer-three" style="background-image: url({% static 'five/images/background/pattern-18.png' %})"></div>
    	<div class="auto-container">
			<ul class="page-breadcrumb">
				<li><a href="/fourhome/">home</a></li>
				<li>What We Do</li>
			</ul>
			<h1>Our Services</h1>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- Service Page Section -->
	<section class="service-page-section">
		<div class="layer-one" style="background-image: url({% static 'five/images/background/pattern-6.png' %})"></div>
		<div class="layer-two" style="background-image: url({% static 'five/images/background/pattern-20.png' %})"></div>
		<div class="auto-container">
			<div class="inner-container">
					

				<div class="row clearfix">
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box card-box" style="background-image: url({% static 'four/images/background/clean4.jpg' %}); width:150 px;height: 200 px;background-size: cover;">
							<div class="icon-outer">
								<div class="icon">
									<div class="svg-icon" id="svg-1" data-svg-icon="{% static 'five/images/svgs/sanifica-12.svg' %}"></div>
								</div>
							</div>
							<h4><a href="/servicesinglenewurl/"><b>General Cleaning</b></a></h4>
							<div class="text">a general clean consists of the basic cleaning tasks that include sweeping, vacuuming, dusting, mopping</div>
							<div class="read-box">
								<a href="/servicesinglenewurl/" class="read-more"><span class="flaticon-plus-symbol"></span> read more</a>
								<!-- {% for i in ob %}
								<input type="text" name="" value="{{i.id}}">
								{% endfor %} -->
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box card-box" style="background-image: url({% static 'four/images/banner5.jpg' %}); width:150 px;height: 200 px;background-size: cover;">
							<div class="icon-outer">
								<div class="icon">
									<div class="svg-icon" id="svg-2" data-svg-icon="{% static 'four/images/banner5.jpg' %}"></div>
								</div>
							</div>
							<h4><a href="/servicesinglenewurl1/"><b>Deep Cleaning </b></a></h4>
							<div class="text">Deep cleaning is different from regular or spring cleaning because it reaches the deep grime and dirt in your home</div>
							<div class="read-box">
								<a href="/servicesinglenewurl1/" class="read-more"><span class="flaticon-plus-symbol"></span> read more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box card-box" style="background-image: url({% static 'four/images/sofa1.jpg' %}); width:150 px;height: 200 px;background-size: cover;">
							<div class="icon-outer">
								<div class="icon">
									<div class="svg-icon" id="svg-3" data-svg-icon="{% static 'five/images/svgs/sanifica-09.svg' %}"></div>
								</div>
							</div>
							<h4><a href="/servicesinglenewurl2/"><b>Upholstery Cleaning</b> </a></h4>
							<div class="text">Omnis iste natus error voluptatem accusantium dolremque laudantis totam rem aperiam eaque.</div>
							<div class="read-box">
								<a href="/servicesinglenewurl2/" class="read-more"><span class="flaticon-plus-symbol"></span> read more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box card-box" style="background-image: url({% static 'four/images/carpet2.jpg' %}); width:150 px;height: 200 px;background-size: cover;">
							<div class="icon-outer">
								<div class="icon">
									<div class="svg-icon" id="svg-4" data-svg-icon="{% static 'four/images/carpet2.jpg' %}"></div>
								</div>
							</div>
							<h4><a href="/servicesinglenewurl3/"><b> Carpet Cleaning</b></a></h4>
							<div class="text">Carpet cleaning is performed to remove stains, dirt, and allergens from carpets. Common methods include hot water extraction, dry-cleaning, and vacuuming.</div>
							<div class="read-box">
								<a href="/servicesinglenewurl3/" class="read-more"><span class="flaticon-plus-symbol"></span> read more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box card-box" style="background-image: url({% static 'four/images/sanit2.jpg' %}); width:150 px;height: 200 px;background-size: cover;">
							<div class="icon-outer">
								<div class="icon">
									<div class="svg-icon" id="svg-5" data-svg-icon="{% static 'five/images/svgs/sanifica-19.svg' %}"></div>
								</div>
							</div>
							<h4><a href="/servicesinglenewurl4/"><b>Sanitation</b></a></h4>
							<div class="text">Sanitation refers to public health conditions related to clean drinking water and adequate treatment</div>
							<div class="read-box">
								<a href="/servicesinglenewurl4/" class="read-more"><span class="flaticon-plus-symbol"></span> read more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box card-box" style="background-image: url({% static 'four/images/kitchen.jpg' %}); width:150 px;height: 200 px;background-size: cover;">
							<div class="icon-outer">
								<div class="icon">
									<div class="svg-icon" id="svg-6" data-svg-icon="{% static 'five/images/svgs/sanifica-08.svg' %}"></div>
								</div>
							</div>
							<h4><a href="/servicesinglenewurl5/"><b>Kitchen Cleaning</b></a></h4>
							<div class="text">Omnis iste natus error voluptatem accusantium dolremque laudantis totam rem aperiam eaque.</div>
							<div class="read-box">
								<a href="/servicesinglenewurl5/" class="read-more"><span class="flaticon-plus-symbol"></span> read more</a>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Service Section Two -->
	
	<!-- Technology Section -->
    <section class="technology-section style-two">
    	<div class="auto-container">
			<div class="row clearfix">
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">Sanitizing & Sterilization Treatments</div>
							<h2><span>Breakthrough Sanitizing & </span> <br> Disinfecting Technologies</h2>
							<div class="text">Dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deseruny mollit anim id est laborum.</div>
						</div>
						<ul class="list-style-three">
							<li>We use organic compounds for Disinfection</li>
							<li>Our system is a highly effective and low-cost</li>
							<li>Helping maintain a healthy living and workspace</li>
							<li>All natural sanitizing and deodorizing</li>
						</ul>
						<a href="about.html" class="theme-btn btn-style-four"><span class="txt">learn more</span></a>
					</div>
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column card-box">
						<div class="image titlt" data-tilt data-tilt-max="2">
							<img src="{% static 'five/images/resource/technology.png' %}" alt="" />
							<div class="dotted-layer" style="background-image: url({% static 'five/images/background/pattern-11.png' %})"></div>
							<div class="contact-box">
								<div class="icon">
									<div class="svg-icon" id="svg-07" data-svg-icon="{% static 'five/images/svgs/sanifica-06.svg' %}"></div>
								</div>
								<div class="phone">READY FOR SERVICE? <br> <span>1882707</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Technology Section -->
	
	<!-- Quote Section -->
	<section class="quote-section">
		<div class="layer-one" style="background-image: url({% static 'five/images/background/pattern-22.png' %})"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<!-- <div class="sec-title centered">
				<div class="logo-icon">
					<span class="centered-icon icon-disinfection"></span>
				</div>
				<h2>Instant Quote Form</h2>
				<div class="text">Dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident <br> sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</div> -->
			
		</div>
	</section>
	<!-- End Quote Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section style-two">
		<div class="icon-one" style="background-image: url({% static 'five/images/icons/covid-1.png' %})"></div>
		<div class="layer-one" style="background-image: url({% static 'five/images/background/pattern-23.png' %})"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<!-- <div class="sec-title centered">
				<div class="logo-icon">
					<span class="centered-icon icon-disinfection"></span>
				</div>
				<div class="title">Sanitizing & Sterilization Treatments</div>
				<h2>What Clients Saying</h2>
				<div class="text">Dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident <br> sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</div> -->
			
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-1.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-2.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-3.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-1.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-2.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-3.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-1.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-2.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image-author">
							<img src="{% static 'five/images/resource/author-3.jpg' %}" alt="" />
						</div>
						<div class="lower-content">
							<div class="clearfix">
								<div class="pull-left">
									<h6>Adam Wilson</h6>
								</div>
								<div class="pull-right">
									<ul class="rating">
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
										<li class="fa fa-star"></li>
									</ul>
								</div>
							</div>
							<div class="text">Iste natus error voluptatem acusan dolremque laudantis oam incididunt ut laboret dolore magna aliqua. Ua enim ad minim veniam.</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- Call To Action Section -->
	{% endblock %}