<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section"><br>
<!--                <center><h3>General</h3></center>-->
                <ul class="nav side-menu">
{{'subadmin session'}}


                  {% if coslogin.ecom %}


                    <li><a><i class="fa fa-shopping-cart"></i> Ecommerce <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">




                  <li><a><i class="fa fa-shopping-cart"></i> Category <span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                        <!-- <li><a href="/addcategory">Add Category</a> -->
                        <li><a href="/viewcategory">View Category</a>
                        </li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-shopping-cart"></i> Products <span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                        <li><a href="/addprodect">Add Products</a>
                        <li><a href="/viewprodect">View Products</a>
                        </li>
                    </ul>
                  </li>

                  <!-- <li><a href="/vieworder"><i class="fa fa-shopping-cart"></i> Order </a>
                     
                  </li> -->


                  <!-- <li><a href="/viewbill"><i class="fa fa-shopping-cart"></i> View Bill</a>
                     
                  </li> -->



                    </ul>
                  </li>
                  {% else %} 
                  {% endif %} 



{% if coslogin.career %}



                                    <li><a><i class="fa fa-globe"></i>Career<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                                                     <li><a href="/addjob"> Post job</a>
                                                    <li><a href="/viewjobs"> View postJobs</a>


                                                    <li><a href="/viewcareers">View Applications</a>
                  </li>
                  </ul>
                  </li>
                  {% else %} 
               {% endif %} 

{% if coslogin.cource %}



                    <li><a><i class="fa fa-book"></i> E-Commerce course <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">


                      <li><a><i class="fa fa-book"></i> Course Category <span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                        <li><a href="/coursecategory">add category</a>
                        <li><a href="/viewcoursecategory"> view category</a>
                        </li>
                    </ul>
                  </li>



                  <li><a><i class="fa fa-book"></i> Course <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                        <li><a href="/addcourse">Add Courses</a>
                        <li><a href="/addmodule">Course module</a>
                          
                        <li><a href="/viewaddcourses">View Courses</a>
                        <li><a href="/viewaddmodules">View Modules</a>
                          
                        </li>
                    </ul>
                  </li>


                  



                 
                  <!-- <li><a href="/vieworderc"><i class="fa fa-shopping-cart"></i> Order </a>
                     
                  </li> -->


                  <!-- <li><a href="/viewbill"><i class="fa fa-shopping-cart"></i> View Bill</a>
                     
                  </li> -->
                    </ul>
                  </li>
                  {% else %} 
{% endif %} 
{% if coslogin.service %}

                    <li><a><i class="fa fa-cogs"></i> E-Commerce Services <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/addservices">add services</a>
                        <li><a href="/viewaddservice"> view service</a>
                          </li>
                    </ul>
                  </li>



                         
{% else %} 
{% endif %} 
{% if coslogin.offline %}


                    <li><a><i class="fa fa-cogs"></i> Offline Training  <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">



                        <li><a href="/offlinetraining">Add Form</a></li>
                        <li><a href="/viewofflinetraining"> view Form</a>
                         <!-- <li><a href="/governerate">governerate</a></li> -->
                        <li><a href="/viewgovernerate"> view governerate</a>
                        <!-- <li><a href="/area">area</a></li> -->
                        <li><a href="/viewarea"> view area</a>



                    </ul>
                 </li>
{% else %} 
{% endif %} 
{% if coslogin.blog %}

 <li><a><i class="fa fa-cogs"></i> E-Commerce blog <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/addblog">add blog</a>
                        <li><a href="/viewaddblog"> view blog</a>
                          </li>
                    </ul>
                  </li>
{% else %} 
{% endif %} 





 </ul>
              </div>

            </div>
   