

{% extends 'headerfooter.html' %}

{% block content %}
<!doctype html>
<html lang="en">
{% load static %}

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon-180x180.png" />
<!-- <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" /> -->
<meta name="application-name" content="TermsFeed.com" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
<meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
<meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="amphtml" href="https://www.termsfeed.com/blog/sample-terms-and-conditions-template/amp/" />
<link rel="canonical" href="https://www.termsfeed.com/blog/sample-terms-and-conditions-template/" />
<style type="text/css">

  #service2{
    margin-left: -33px;
    margin-top: -6px;


    width: 150px;
    height: 325px;
    background-size: cover;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    
  }
#wrap {
  display: none;
}
.placeholder-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.placeholder {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px 0 15px;
  margin-top: 0px;
  box-sizing: border-box;
  max-width: 1140px;
}
.placeholder-header {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 60px;
}
.placeholder-logo {
  width: 165px;
}
.placeholder-logo span {
  display: inline-block;
  width: 165px;
  height: 50px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F0F1F5;
}
.placeholder-menu {
  flex: 1;
  padding-top: 20px;
  text-align: right;
}
.placeholder-menu-item {
  display: inline-block;
  width: 70px;
  height: 12px;
  background-color: #F0F1F5;
  border-radius: 4px;
  margin-left: 20px;
}
.placeholder-content {
  padding-top: 40px;
}
.placeholder-hamburger-icon {
  display: none;
}
.placeholder-line-one {
  display: block;
  width: 100%;
  height: 17px;
  border-radius: 4px;
  margin-bottom: 22px;
}
.placeholder-line-two {
  display: block;
  width: 80%;
  height: 17px;
  border-radius: 4px;
  margin-bottom: 22px;
}
.placeholder-line-three {
  display: block;
  width: 60%;
  height: 17px;
  border-radius: 4px;
}
.placeholder-line-one,
.placeholder-line-two,
.placeholder-line-three {
  background-color: #F0F1F5;
  background-image: linear-gradient(
    to right,
    rgba(240,241,245,1) 33%,
    rgba(255,255,255,1) 50%,
    rgba(240,241,245,1) 66%
  );
  background-size: 300% 100%;
}
@media only screen and (max-width: 982px) {
  .placeholder-menu-item {
    display: none;
  }
  .placeholder-menu {
    padding-top: 24px;
  }
  .placeholder-hamburger-icon,
  .placeholder-hamburger-icon:before,
  .placeholder-hamburger-icon:after {
    display: block;
    position: absolute;
    right: 0;
    height: 4px;
    width: 22px;
    background: #F0F1F5;
    content: '';
    cursor: pointer;
    border-radius: 4px;
  }
  .placeholder-hamburger-icon:before {
    top: -8px;
  }
  .placeholder-hamburger-icon:after {
    bottom: -8px;
  }

#terms{
font-weight: bolder;
    margin-left: -215px;
    color: steelblue;
  }
}

</style>




<h2 id="Faq_Terms_And_Conditions"  style="margin-top: 180px; margin-left: 250px;"><b id="terms">TERMS AND CONDITIONS</b></h2>
<!-- <p>Here is a list of frequently asked questions that you may find useful.</p> -->
<div class="faq-accordion" style="margin-top: 100px;
    margin-bottom: 100px;" id="faq-accordion" itemscope itemtype="http://schema.org/FAQPage">
<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-1" class="faq-question-header">
<h2>
<a class=" collapsed" data-toggle="collapse" data-target="#faq-answer-1" aria-expanded="false" aria-controls="faq-answer-1">
<i class="fa fa-angle-down"></i>
<span itemprop="name">1. REGULAR DOMESTIC CLEANING</span>
</a>
</h2>
</div>
<div id="faq-answer-1" class="faq-answer-body collapse show" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>1.1: The customer agrees to sign and return the Agreement and Standing order forms to Bleach within 7 days of placing the order.<br>
1.2: 'Bleach' fees are payable by the client monthly in advance by Cash, Standing Order and Cheque. These will be paid into our nominated account as per cleaning schedule.<br>
1.3: 'Bleach' reserves the right to suspend cleaning services if monthly payments are missing or if paper work is not returned to 'Bleach' within 7 days of placing the order.<br>
1.4: The sales advisors can only give a rough estimate of the duration of the cleaning service, which is based on a basic description of the customer's house. Please note that the cleaner may discuss a variation on the planned duration if, in practise, it appears to be required.<br>
1.5: Bleach agrees to provide a task list and all cleaning detergents and equipment (vacuum cleaner, mop, bucket and portable ladder) required to carry out the service, unless other arrangements have been made with 'Bleach'. Any cleaning equipment provided by the customer, should be safe and in full working order.<br>
1.6: If collection of keys is required from a location outside the postal code area charges may apply.<br><br>
1.7: A monthly payment will be refunded only if the customer does not require cleaning services for more than 4 weeks.<br>
1.8: 'Bleach' will not be held responsible for any alarm systems. Customer should give any special instructions for deactivation/activation of any household alarm systems.<br>
1.9: One month minimum contract length applies for all Regular Cleaning Services.<br>
1.10: All the cleaners registered with us and working on our behalf have been fully screened through a personal interview and checking of references and employment history.<br>
1.11: We do not employ the cleaners. All the cleaners are self-employed and the payment of Tax and NI as a vetted independent person is their own responsibility.<br>
1.12: The Client must allow the cleaner access to hot water and power.<br>
1.13: By entering under this Terms and Conditions with 'Bleach', after the termination of the cleaning service providing by 'Bleach', the Client must not hire or use any home-related services provided by a present or past cleaner introduced to the Client by 'Bleach'. If the Client does wish to hire or use home-related services provided by such a cleaner our referral fee is £250.<br>
1.14: In case of a complaint, 'Bleach' requires to be notified within 24 hours after completion of the cleaning work. <br>
1.15: All fragile and highly breakable items must be secured or removed. Items excluded from liability are: cash, items of sentimental value, art and antiques.<br>
1.16: The insurance policy is subject to a number or further terms and conditions available from the 'Bleach'. Any damage caused by bleach is not covered. 'Bleach' will not arrange for the insurance referred to if the 'Bleach' fee has not been paid by the Client in accordance with terms and conditions of this agreement. An insurance taken out by the Client may void the insurance policy to in this clause in which even and loss will only be recoverable under the policy of the Client.<br></p>
</div>
</div>
</div>

<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-2" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-2" aria-expanded="false" aria-controls="faq-answer-2">
<i class="fa fa-angle-down"></i>
<span itemprop="name">2. END OF TENANCY CLEANING / SPRING CLEANING / MOVE IN & OUT CLEANING / PROFESSIONAL CLEAN / AFTER PARTY CLEAN<br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-2" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>2.0: 'Bleach' reserves the right to amend the initial quotation, should the client's original requirements change.
2.1: If collection of keys is required from a location outside the local area, a transport fee will apply.
2.2: The Client must allow the cleaner access to hot water and power.<br>
2.3: 'Bleach' will not be responsible for triggering any alarm systems. Customer should give any special instructions for deactivation/activation of any household alarm systems.<br>
2.4: 'Bleach' will provide all cleaning detergents and equipment (vacuum cleaner, mop, bucket and portable ladder) required to carry out the service, unless the customer want to supply their own
2.5: The sales advisors can only give a rough estimate of the duration of the cleaning service, which is based on a basic description of the customer's house. Please note that duration may vary therefore a degree of flexibility is required.<br>
2.6: All fragile and highly breakable items must be secured or removed. Items excluded from liability are: cash, items of sentimental value, art and antiques.<br>
2.7 In case of a complaint, 'Bleach' requires to be notified within 24 hours after completion of the cleaningwork.<br><br>
</p>
</div>
</div>
</div>
<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-3" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-3" aria-expanded="false" aria-controls="faq-answer-3">
<i class="fa fa-angle-down"></i>
<span itemprop="name">3. AFTER BUILDERS CLEANING<br></span>
</a>
</h2>
</div>
<div id="faq-answer-3" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>3.1: 'Bleach' reserves the right to amend the initial quotation, should the client's original requirements change.<br>
3.2: If collection of keys is required from a location outside the postal code area of the cleaning scheduled, £10 charge will apply.<br>
3.3: The Client must allow the cleaner access to hot water and power.<br>
3.4: 'Bleach' will not be responsible for triggering any alarm systems. Customer should give any special instructions for deactivation/activation of any household alarm systems.<br>
3.5: 'Bleach' will provide all cleaning detergents and equipment (vacuum cleaner, mop, bucket and portable ladder) required to carry out the service.<br>
3.6: The sales advisors can only give a rough estimate of the duration of the cleaning service, which is based on a basic description of the customer's house. Please note that duration may vary therefore a degree of flexibility is required.<br>
3.7: All fragile and highly breakable items must be secured or removed. Items excluded from liability are: cash, items of sentimental value, art and antiques.<br><br></p>
</div>
</div>
</div>
<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-4" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-4" aria-expanded="false" aria-controls="faq-answer-4">
<i class="fa fa-angle-down"></i>
<span itemprop="name">4. ONE-OFF GENERAL CLEANING<br></span>
</a>
</h2>
</div>
<div id="faq-answer-4" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>4.1: Bleach can only give a rough estimate of the duration of the cleaning service, which is based on a basic description of the customer's house. Please note that duration may vary therefore a degree of flexibility is required.<br>
4.2: Customer agrees to provide a task list and all cleaning detergents and equipment (vacuum cleaner, mop, bucket and portable ladder) required to carry out the service, unless other arrangements have been made with 'Bleach’. Any cleaning equipment provided by customer, should be safe and in full working order.<br>
4.3: If collection of keys is required from a location outside the postal code area of the cleaning scheduled, £10 charge will apply.v
4.4: 'Bleach' will not be responsible for triggering any alarm systems. Customer should give any special instructions for deactivation/activation of any household alarm systems.<br>
4.5: All the cleaners registered with us and working on our behalf have been fully screened through a personal interview and checking of references and employment history.<br>
4.6: We do not employ the cleaners. All the cleaners are self-employed and the payment of Tax and NIN as a vetted independent person is their own responsibility.<br>
4.7: The Client must allow the cleaner access to hot water and power.<br>
4.10: By entering under this Terms and Conditions with 'Bleach', after the termination of the cleaning service providing by 'Bleach', the Client must not hire or use any home-related services provided by a present or past cleaner introduced to the Client by 'Bleach'. If the Client does wish to hire or use home-related services provided by such a cleaner our referral fee is £250.<br>
4.11: In case of a complaint, 'Bleach' requires to be notified within 24 hours after completion of the cleaning work. No claims will be entertained after the above time limit.<br>
4.12: All fragile and highly breakable items must be secured or removed. Items excluded from liability are: cash, items of sentimental value, art and antiques.<br>
4.13: The insurance policy is subject to a number or further terms and conditions available from the 'Bleach'. Any damage caused by bleach is not covered. 'Bleach' will not arrange for the insurance referred to if the 'Bleach' fee has not been paid by the Client in accordance with terms and conditions of this agreement. An insurance taken out by the Client may void the insurance policy to in this clause in which even and loss will only be recoverable under the policy of the Client.<br><br></p>
</div>
</div>
</div>










<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-5" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-5" aria-expanded="false" aria-controls="faq-answer-5">
<i class="fa fa-angle-down"></i>
<span itemprop="name">5. PAYMENTS<br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-5" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>5.1: Payment is requested on completion on the day of the cleaning session.<br>
5.2: Payment can be made in cash on completion of the service<br>
5.3: Payment can be made by cheque on completion, please make the cheque payable to 'Bleach' Ltd'. If paying by cheque, a cheque guarantee card is required and the customer will be responsible for all bank and legal charges resulting from a dishonoured cheque.<br>
5.4: Payment can be made with debit or credit card via an app. 'Bleach' will not share the customer's card details with a third party.<br>
5.5: If payment is not made after 30 days of invoice then the account will be passed to our collections agency, after which a charge of 15% on top of the initial invoice due, will be added to the debt. You agree as part of this contract to pay this sum which represents our reasonable costs in collecting the unpaid amounts.<br><br></p>
</div>
</div>
</div>




<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-6" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-6" aria-expanded="false" aria-controls="faq-answer-6">
<i class="fa fa-angle-down"></i>
<span itemprop="name">6. COMPLAINTS & CLAIMS<br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-6" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>6.1: The customer accepts and understands that poor service, breakage/damage or theft must be reported within 24 hours from the service date. Failure to do so will entitle customer to no refunds or recovery cleanings.<br>
6.2: 'Bleach' may require the presence of the customer or his/hers representative in the beginning and at the end of the cleaning session as an inspection can be carried out and if any corrections, should be made on the same day.<br>
6.3: If the customer has scheduled an inventory check then it must be scheduled to commence no later than 24 hours after the cleaning job has been carried out.<br>
6.4: 'Bleach' may take up to 7 working days to respond to a complaint.<br>
6.5: 'Bleach' will not accept a complaint based on an Inventory check report, filed more than 24-hour after the cleaning session.<br>
6.6: Complaints are accepted verbally over the phone and in writing (letter, email or fax). Complaints must be reported on completion or in the following 24-hour.<br>
6.7: All fragile and highly breakable items must be secured or removed. Items excluded from liability are: cash, jewellery, items of sentimental value (the customer will be credited with the items present cash value), art and antiques.<br>
6.8: Key replacement/locksmith fees are paid only if keys are lost by our operatives. There is a £30 per household liability limit.<br>
6.9: 'Bleach' agrees to keep all customers' information confidential.<br>
6.10: In case of damage 'Bleach' will repair the item at its cost. If the item cannot be repaired 'Bleach' will rectify the problem by crediting the customer with the item's present actual cash value toward a like replacement from a 'Bleach's source upon payment of cleaning services rendered.<br><br></p>
</div>
</div>
</div>





<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-7" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-7" aria-expanded="false" aria-controls="faq-answer-7">
<i class="fa fa-angle-down"></i>
<span itemprop="name">7. INSURANCE<br><br><br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-7" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>7.1: 'Bleach' has Public liability insurance. The policy will cover any accidental damages caused by an operator working on behalf of 'Bleach', reported within 24 hours of service date.<br>
7.2: 'Bleach' reserves the right to refuse to share any of the confidential company's documents.<br><br>
</p>
</div>
</div>
</div>


<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-8" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-8" aria-expanded="false" aria-controls="faq-answer-8">
<i class="fa fa-angle-down"></i>
<span itemprop="name">8. CUSTOMER SATISFACTION<br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-8" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>8.1: Customer understands that he/she is not entitled to any refunds.<br>
8.2: If the customer is not completely satisfied with a cleaning job, 'Bleach' will re-clean any areas and items to customer's satisfaction. Therefore customer must allow the cleaner to be returned.<br>
8.3: Customer may be present at all times during the recovery-clean. 'Bleach' reserves the right not to return a cleaner more than once.</p>
</div>
</div>
</div>



<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-9" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-9" aria-expanded="false" aria-controls="faq-answer-9">
<i class="fa fa-angle-down"></i>
<span itemprop="name">9. LIABILITY<br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-9" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>9.1: 'Bleach' reserves the right not to be liable for:<br>
9.2: Completing tasks which are not stated on our task list;<br>
9.3: Cleaning jobs not complete due to the lack of suitable cleaning detergents and/or equipment in full working order, hot water or power;<br>
9.4: Third party entering or present at the customer's premises during the cleaning process;<br>
9.5: Wear or discolouring of fabric becoming more visible once dirt has been removed;<br>
9.6: Failing to remove old/permanent stains that cannot be removed using standard carpet cleaning methods;<br>
9.7: Existing damage or spillage that cannot be cleaned/removed completely using provided by the customer cleaning detergents and equipment or standard carpet cleaning equipment;<br>
9.8: Any damages caused by a faulty or not in full working order detergents/equipment supplied by the customer.
9.9: If the customer has got items which need special cleaning methods and special cleaning detergents, 'Bleach' reserves the right to refuse the provision of the cleaning detergents.<br>
9.10: 'Bleach' will advise the client to provide the specific cleaning detergents and to pass cleaning instructions to the sales advisors when placing the order or give instruction to the present cleaner;<br><br></p>
</div>
</div>
</div>



<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-10" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-10" aria-expanded="false" aria-controls="faq-answer-10">
<i class="fa fa-angle-down"></i>
<span itemprop="name">10. CANCELLATIONS<br><br><br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-10" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>10.1: REGULAR DOMESTIC CLEANING<br><br>
10.2: Customer may cancel or adjust the time of a cleaning visit/s by giving at least 24 hours advanced notice.<br>
10.3: Customer agrees to pay the full price of a cleaning visit if the customer cancels or changes the date/time less than 24 hours prior to the scheduled appointment.<br>
10.4: Customer agrees to pay the full price of the cleaning visit in the event of a lock-out caused by our cleaners being turned away; no one home to let them in; or problem with customer's keys.<br>
10.5: Customer may terminate the cleaning service by giving 4 weeks (28 days) advanced notice in writing and specifying the last cleaning date and give reason.<br><br>
10.6: END OF TENANCY CLEANING/ SPRING CLEANING / AFTER PARTY CLEAN/COMMERCIAL CLENING.<br><br>
10.7: 24 hours notice is required if customer should either decide to cancel or re-schedule a cleaning appointment.<br><br>
10.10: AFTER BUILDERS CLEANING:<br><br>
10.11: 24 hours notice is required if customer should either decide to cancel or re-schedule a cleaning appointment.<br>
10.12: ONE OFF GENERAL CLEANING:<br><br>
10.13: 24 hours notice is required if customer should either decide to cancel or re-schedule a cleaning appointment.<br><br></p>
</div>
</div>
</div>



<div class="faq-question-answer" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<div id="faq-question-11" class="faq-question-header">
<h2>
<a class="" data-toggle="collapse" data-target="#faq-answer-11" aria-expanded="false" aria-controls="faq-answer-11">
<i class="fa fa-angle-down"></i>
<span itemprop="name">11. AFTER CANCELLATION OF THE CLEANING SERVICE<br><br><br><br></span>
</a>
</h2>
</div>
<div id="faq-answer-11" class="faq-answer-body collapse" data-parent="#faq-accordion" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
<div itemprop="text">
<p>11.1: By entering into a service agreement with 'Bleach', the customer agrees that after the termination of the cleaning service he/she will not hire or use any domestic services provided by a present or past cleaner introduced to the customer by 'Bleach'. If the customer wishes to hire or use domestic services provided by such a cleaner then he/she must pay a referral fee of £250.<br>
These terms and conditions shall be governed by the relevant United Kingdom law, and by agreeing to be bound by them the customer agrees to submit to the exclusive jurisdiction of the relevant courts of the United Kingdom. 'Bleach' reserves the right to make any changes to any part of these terms and conditions without giving any prior notice. Should any of the above clauses change all existing customers will be notified. Please check this website for updates.</p>
</div>
</div>
</div>



</div>

 


<!-- 
<button onclick="topFunction()" id="BackTopBtn" title="Go to top">
<i class="icon fa fa-angle-down"></i>
</button> -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name" : "TermsFeed",
  "url" : "https://www.TermsFeed.com",
  "logo" : "https://www.TermsFeed.com/public/images/logo-termsfeed-footer-ld-json.png",
  "email" : "office@termsfeed.com",
  "sameAs" : [
    "https://twitter.com/TermsFeed",
    "https://www.facebook.com/termsfeed",
    "https://www.pinterest.com/termsfeed/",
    "https://www.youtube.com/c/termsfeed"
  ]
}
</script>
<script type="application/ld+json">
            {"@type": "VideoObject", "thumbnailUrl": ["https://i.ytimg.com/vi/-3OTsTUShV0/hqdefault.jpg"], "name": "How to use Terms & Conditions Templates", "description": "How to use Terms & Conditions Templates", "embedUrl": "https://www.youtube.com/watch?v=-3OTsTUShV0", "uploadDate": "2020-12-18T23:13:02", "@context": "https://schema.org"}
            </script>
</div>

<div id="trailer">
<script type="text/javascript">
  "use strict";

  var _ENVIRONMENT = 'production';

  var _LAZYLOAD_PRELOAD_IMAGE = 'https://www.termsfeed.com/public/images/loading.gif';

  

  var _BASE_URL = 'https://www.termsfeed.com';

  var _MAIN_SHOW_DELAY = 50;
  var _MAIN_SHOW_FORCED = 4000;
  var _MAIN_LOAD_DELAY = 100;
  var _MAIN_LOAD_FORCED = 0;
  var _MAIN_LOAD_FRONTEND = 0;
  var _MAIN_LOAD_TRACKING = 500;

  var _MAIN_LOAD_SHARESALE = false;
  var _MAIN_LOAD_GA = false;

  
  _MAIN_LOAD_GA = 1000;
  _MAIN_LOAD_SHARESALE = 1000;
  

  var LCG_TRACKING_APPLICATION = "termsfeed-website";
  var LCG_TRACKING_ENVIRONMENT = _ENVIRONMENT;
  var LCG_TRACKING_VARIANT = 'A';
  var LCG_TRACKING_EXPERIMENT = "none";
  var LCG_TRACKING_EPOCH = "2020-e01";
  var LCG_TRACKING_SCOPE = null;

  function _main_load_trigger() {
      if (_main_load_trigger_done) { return; } else { _main_load_trigger_done = true; }
      console.log ("[main.js]  loading...");
      _main_script_preload("{% static 'four/termsjs/main.js' %}");
  }
  var _main_load_trigger_done = false;

  function _main_show_trigger() {
      if (_main_show_trigger_done) { return; } else { _main_show_trigger_done = true; }
      console.log ("[main.js]  showing...");
      var _element = document.createElement("style");
      _element.type = "text/css";
      var _style = " #wrap { display: block; } .placeholder { display: none; } ";
      if (_element.styleSheet)
          _element.styleSheet.cssText = _style;
      else
          _element.appendChild(document.createTextNode(_style));
      document.getElementById("trailer").appendChild(_element);
  }
  var _main_show_trigger_done = false;

  function _main_script_preload(_url, _after) {
      var _element = document.createElement("script");
      _element.setAttribute("src", _url);
      _element.setAttribute("type", "text/javascript");
      if (_after)
          _element.onload = _after;
      document.getElementById("trailer").appendChild(_element);
  }

  function _main_script(_url) {
      _main_scripts_queue.push(_url);
      if (!_main_scripts_wait) {
          _main_scripts_wait = true;
          _main_scripts_continue_0();
      }
  }
  function _main_scripts_continue() {
      var _script = _main_scripts_queue.shift ();
      if (!_script) {
          _main_scripts_wait = false;
          return;
      }
      switch (typeof(_script)) {
          case "string" :
              console.log ("[main.js]  loading script (from url) from queue...", _script);
              _main_script_preload(_script, _main_scripts_continue_0);
              break;
          case "function" :
              console.log ("[main.js]  loading script (embedded) from queue...");
              _script();
              _main_scripts_continue_0();
              break;
          default :
              console.log ("[main.js]  invalid script in queue;  ignoring!", _script);
              _main_scripts_continue_0();
              break;
      }
  }
  function _main_scripts_continue_0() {
      setTimeout(_main_scripts_continue, 0);
  }
  var _main_scripts_queue = [];
  var _main_scripts_wait = true;

  var _MAIN_LOAD_FRONTEND_AFTER = _main_scripts_continue_0;

  if (false) {
      window.addEventListener("load", function() {
          if (_MAIN_LOAD_FRONTEND !== false) { _MAIN_LOAD_FRONTEND = 0; }
          if (_MAIN_LOAD_TRACKING !== false) { _MAIN_LOAD_TRACKING = 0; }
          if (_MAIN_LOAD_SHARESALE !== false) { _MAIN_LOAD_SHARESALE = 0; }
          if (_MAIN_LOAD_GA !== false) { _MAIN_LOAD_GA = 0; }
      });
  }

  if (_MAIN_LOAD_DELAY > 0) {
      window.addEventListener("load", function() {
          setTimeout (_main_load_trigger, _MAIN_LOAD_DELAY);
      });
      if (_MAIN_LOAD_FORCED > 0) {
          setTimeout (_main_load_trigger, _MAIN_LOAD_FORCED);
      }
  } else {
      _main_load_trigger();
  }

  if (_MAIN_SHOW_DELAY > 0) {
      window.addEventListener("load", function() {
          setTimeout (_main_show_trigger, _MAIN_SHOW_DELAY);
      });
      if (_MAIN_SHOW_FORCED > 0) {
          setTimeout (_main_show_trigger, _MAIN_SHOW_FORCED);
      }
  } else {
      _main_show_trigger();
  }
</script>
<link type="text/css" rel="stylesheet" href="{% static 'four/termscss/main.css' %}" />
<noscript>
    <style type="text/css">
        #wrap { display: block; } .placeholder { display: none; }
    </style>
</noscript>
<img src="/track/v1/px" style="position:fixed;right:0px;bottom:0px;display:none;" loading="eager" importance="low" decoding="async" />
</div>

</body>
{% endblock %}